 * {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
 }

 li {
     list-style: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: inherit;
     font-weight: inherit;
 }

 a {
     color: inherit;
     text-decoration: none;
     display: block;
 }

 p a {
     display: inline;
 }

 img,
 picture,
 video,
 iframe {
     display: block;
     width: 100%;
     /* height: initial; */
 }

 form,
 input,
 label,
 select,
 option,
 textarea,
 button {
     font-size: inherit;
     font-family: inherit;
     display: block;
     background-color: transparent;
 }

 :root {
     --color-blau-links: rgb(123, 168, 235);
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: "Space Grotesk", sans-serif;
     /* font-family: "Inter", sans-serif; */
     background-color: rgb(214, 214, 213);
 }

 /* accesibilidad al navegar con tabulador */
 :focus-visible {
     outline: 2px solid #1a1a1a;
     outline-offset: 2px;
 }


 /**************** FIN RESET *****************/

 /******************* HEADER ******************/


 .header {
     width: 100%;
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-items: center;
     text-transform: uppercase;
     padding: 1rem;
     position: fixed;
     top: 0;
     z-index: 2;
 }

 .header__h1 {
     font-weight: 600;
     /* margin-right: 1rem; */
     background-color: #ffff00;
 }

 .header__h1:hover {
     color: var(--color-blau-links);
 }

 .header__btn {
     display: none;
     font-size: 1.4em;
     cursor: pointer;
 }

 .header__nav {
     width: 100%;
     position: relative;
 }

 .nav__ul {
     font-size: .8em;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: center;
     padding-left: 25vw;
 }

 .nav__li:hover {
     color: yellow;
 }

 /******************** INICIO FOOTER *********************/

 .footer {
     width: 100%;
     position: fixed;
     bottom: 0;
     text-transform: uppercase;
     font-size: .7em;
     padding: 1rem;
     font-weight: 200;
 }

 .footer__nav {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: center;
 }

 .footer__ul {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }

 .--ul__first li:hover,
 .--ul__third li:hover {
     color: #ffff00;
 }

 .--ul__first {
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-items: center;
     gap: .5rem;
 }

 /******************** FIN FOOTER *********************/


 /******************** MEDIA QUERIES *********************/

 @media (max-width: 1200px) {

     .header {
         flex-wrap: wrap;
         justify-content: space-between;
         padding: 0;
         z-index: 3;
     }

     .header__h1,
     .header__btn {
         margin: .6rem;
     }

     .header__nav {
         width: 100%;
         display: none;
     }

     .header__nav.isActive {
         display: block;
     }

     .nav__ul {
         color: white;
         width: 100%;
         height: 100vh;
         background-color: black;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 1.6em;
         position: absolute;
         /* margin-left: 0; */
         padding: 0;
         gap: 3rem;
     }

     .nav__li:first-child {
         margin-top: -3rem;
     }

     .header__btn {
         color: black;
         display: block;
         cursor: pointer;
     }

     .footer {
         z-index: 4;
         color: #757575;
     }

     .--ul__first,
     .--ul__second {
         flex-flow: column;
         align-items: flex-start;
         gap: .3rem;
     }

     .--ul__second {
         align-items: center;
     }

   

 }