 * {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
 }

 li {
     list-style: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: inherit;
     font-weight: inherit;
 }

 a {
     color: inherit;
     text-decoration: none;
     display: block;
 }

 p a {
     display: inline;
 }

 img,
 picture,
 video,
 iframe {
     display: block;
     width: 100%;
     /* height: initial; */
 }

 form,
 input,
 label,
 select,
 option,
 textarea,
 button {
     font-size: inherit;
     font-family: inherit;
     display: block;
     background-color: transparent;
 }

 :root {
     --color-blau-links: rgb(123, 168, 235);
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: "Space Grotesk", sans-serif;
     /* font-family: "Inter", sans-serif; */
     background-color: rgb(220, 220, 218);
 }

 /* accesibilidad al navegar con tabulador */
 :focus-visible {
     outline: 2px solid #1a1a1a;
     outline-offset: 2px;
 }


 /**************** FIN RESET *****************/

 /******************* HEADER ******************/


 .header {
     width: 100%;
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-items: center;
     text-transform: uppercase;
     padding: 1rem;
     position: fixed;
     top: 0;
     z-index: 2;
 }

 .header__h1 {
     font-weight: 600;
     /* margin-right: 1rem; */
     background-color: #ffff00;
 }

 .header__h1:hover {
     color: var(--color-blau-links);
 }

 .header__btn {
     display: none;
     font-size: 1.4em;
     cursor: pointer;
 }

 .header__nav {
     width: 100%;
     position: relative;
 }

 .nav__ul {
     font-size: .8em;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: center;
     padding-left: 25vw;
 }

 .nav__li:hover {
     color: yellow;
 }

 /******************* FIN HEADER ********************/


 /******************** INICIO MAIN *******************/
 .main {
     width: 100%;
     min-height: 100vh;
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }

 .wrapper__principal {
     width: 100%;
     min-height: 85vh;
 }

 .section__principal {
     width: 40%;
     min-height: 100vh;
     margin: 0 auto;
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
 }

 .principal__grid {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     padding: .5rem 2rem;
     justify-content: center;

 }

 .principal__p {
     text-transform: uppercase;
     font-weight: 200;
     font-size: .8em;
     text-align: justify;
     opacity: 0;
     animation: textup 1.5s ease .5s forwards;
     z-index: -1;
 }

 @keyframes textup {
     from {
         opacity: 0;
         transform: translateY(35%);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .wrap__img {
     width: 4em;
     cursor: pointer;
 }

 /* Animaciones imágenes */

 .--img__01 {
     animation: moveimg01 1.5s ease .5s forwards;

 }

 @keyframes moveimg01 {
     from {
         transform: translate(-300%, 400%);
     }

     to {
         transform: translate(0);
     }
 }


 .--img__02 {
     animation: moveimg02 1.5s ease .5s forwards;
 }

 @keyframes moveimg02 {
     from {
         transform: translate(-300%, -300%);
     }

     to {
         transform: translate(0);
     }
 }


 .--img__03 {
     animation: moveimg03 1.5s ease-in-out .5s forwards;
 }

 @keyframes moveimg03 {
     from {
         transform: translate(-800%, -300%);
     }

     to {
         transform: translate(0);
     }
 }

 .--img__04 {
     animation: moveimg04 1.5s ease .5s forwards;
 }

 @keyframes moveimg04 {
     from {
         transform: translate(450%, 200%);
     }

     to {
         transform: translate(0);
     }
 }

 .--img__05 {
     animation: moveimg05 1.5s ease .5s forwards;
 }

 @keyframes moveimg05 {
     from {
         transform: translate(700%, -200%);
     }

     to {
         transform: translate(0);
     }
 }

 .--img__06 {
     animation: moveimg06 1.5s ease .5s forwards;
 }

 @keyframes moveimg06 {
     from {
         transform: translate(500%, 500%);
     }

     to {
         transform: translate(0);
     }
 }

 /* fin animaciones imágenes */

 .contenedor {
     display: none;
 }

 @media (min-width: 1000px) {

     .contenedor {
         display: flex;
         width: 100%;
         min-height: 100vh;
         position: absolute;
         top: 0;

         z-index: -1;
     }

     .wrapper__imgs {
         width: 100%;
         height: 100vh;
         /* background-color: rgb(159, 251, 133); */

         position: relative;
         overflow: hidden;
     }

     .imgs {
         width: 100%;
         min-height: 100vh;
         /* background-color: darkslateblue; */
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;

         position: absolute;

         opacity: 0;
         transition: opacity .5s ease-in-out, transform 1s ease;
         top: 0;

     }

     .imgs.isVisible {
         opacity: 1;
         transform: scale(1.02, 1.02);

     }

     .imgs--a {
         background-image: url(../assets/index/index_01_active.webp);
         width: 49vw;
         background-size: 75%;
     }

     .imgs--b {
         background-image: url(../assets/index/index_02_active.webp);
         width: 49vw;
         background-size: 75%;
     }

     .imgs--c {
         background-image: url(../assets/index/index_03_active.webp);
         width: 49vw;
         background-size: 75%;
     }

     .imgs--d {
         background-image: url(../assets/index/index_04_active.webp);
         right: 0;
         width: 49vw;
         background-size: 75%;
     }

     .imgs--e {
         background-image: url(../assets/index/index_05_active.webp);
         right: 0;
         width: 49vw;
         background-size: 75%;
     }

     .imgs--f {
         background-image: url(../assets/index/index_06_active.webp);
         right: 0;
         width: 49vw;
         background-size: 75%;
     }

     .texto__imgs {
         width: 60%;
         position: absolute;
         bottom: 10vh;
         margin: 0 auto;
         justify-self: center;
         display: flex;
         flex-flow: column nowrap;
         justify-content: flex-start;
         align-items: flex-start;
     }

     .texto__imgs h2 {
         color: rgb(0, 0, 0);
         background-color: rgba(253, 253, 60, 0.802);
         text-transform: uppercase;
         margin-bottom: 1rem;
         border-radius: .2em;
         padding: .2em;
         font-size: 2vmin;
     }

     .texto__imgs p {
         color: rgb(0, 0, 0);
         background-color: rgba(253, 253, 60, 0.802);
         margin-bottom: 1rem;
         border-radius: .2em;
         font-size: 2vmin;
     }


     .texto__imgs {
         opacity: 0;
         transform: translateY(40%);
     }

     .texto__imgs.text-active {
         opacity: 1;
         transform: translateY(0);
         transition: transform 1s ease, opacity 0.5s ease;
     }
 }


 /************************* MOBILE MODE *************************/

 .div__mobile {
     display: none;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }

 /************************* FIN MOBILE MODE *************************/

 /******************** FIN MAIN *******************/


 /******************** INICIO FOOTER *********************/

 .footer {
     width: 100%;
     position: fixed;
     bottom: 0;
     text-transform: uppercase;
     font-size: .7em;
     padding: 1rem;
     font-weight: 200;
 }

 .footer__nav {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: center;
 }

 .footer__ul {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }

 .--ul__first li:hover,
 .--ul__third li:hover {
     color: #ffff00;
 }

 .--ul__first {
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-items: center;
     gap: .5rem;
 }

 /******************** FIN FOOTER *********************/


 /******************** MEDIA QUERIES *********************/

 @media (max-width: 1200px) {

     .header {
         flex-wrap: wrap;
         justify-content: space-between;
         padding: 0;
         z-index: 3;
     }

     .header__h1,
     .header__btn {
         margin: .6rem;
     }

     .header__nav {
         width: 100%;
         display: none;
     }

     .header__nav.isActive {
         display: block;
     }

     .nav__ul {
         color: white;
         width: 100%;
         height: 100vh;
         background-color: black;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 1.6em;
         position: absolute;
         /* margin-left: 0; */
         padding: 0;
         gap: 3rem;
     }

     .nav__li:first-child {
         margin-top: -7rem;
     }

     .header__btn {
         color: black;
         display: block;
         cursor: pointer;
     }

     .footer {
         z-index: 4;
         color: #757575;
     }

     .--ul__first,
     .--ul__second {
         flex-flow: column;
         align-items: flex-start;
         gap: .3rem;
     }

     .--ul__second {
         display: none;
     }

     .footer__nav {
         align-items: flex-end;
     }

     .section__principal {
         width: 90%;
         min-height: 80vh;
         justify-content: space-around;
     }

     .principal__grid {
         grid-template-columns: repeat(1, 1fr);
         place-items: center;
         gap: .4rem;
     }

     .div__mobile {
         display: flex;
     }

     .p__mobile {
         color: rgb(0, 0, 0);
         background-color: rgba(253, 253, 60, 0.802);
         text-transform: uppercase;
         margin-top: 1rem;
         margin-bottom: .5rem;
     }

     .--top__mobile {
         margin-top: 5rem;
     }

     .principal__p {
         width: 100%;
         margin: 2rem;
         margin-bottom: 5rem;
     }

     .div__mobile h2 {
        text-align: center;
         animation: bajar 1s ease-in-out 1.5s forwards;
         opacity: 0;
     }

     @keyframes bajar {
         from {
             opacity: 0;
             transform: translateY(0);
         }

         to {
             opacity: 1;
             transform: translateY(30%);
         }
     }

      .footer{
        bottom: 1%;
      }

 }